/*by hoangweb*/

.wmd-mini-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
    background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
    background-color:#ffec64;
    -webkit-border-top-left-radius:16px;
    -moz-border-radius-topleft:16px;
    border-top-left-radius:16px;
    -webkit-border-top-right-radius:16px;
    -moz-border-radius-topright:16px;
    border-top-right-radius:16px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0px;
    border:1px solid #ffaa22;
    display:inline-block;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    /*height:30px;*/
    line-height:30px;
    /*width:86px;*/
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffee66;
    padding: 0px 15px !important;
}
.wmd-mini-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
    background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
    background-color:#ffab23;
}.wmd-mini-button:active {
     position:relative;
     top:1px;
 }
.wmd-mini-button.selected{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
    background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
    background-color:#ffab23;
}